/* img {
  background: no-repeat center center fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: 100%;
  filter: blur(4px);
  /* -webkit-filter: blur(8px); 
}*/

/*.container {
width: 100%; 
height: 100%;
justify-content: center; 
 align-items: center;
 padding: 0.5px 100px; 
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.55;
  color: #333;
  font-size: 400;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 30px;
  margin-bottom: 65px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}
/* ==================================================
    Header Styling
  ================================================== */
#header {
  background: #199eb8;
  height: 70px;
}

#header #logo {
  margin: 14px 25px 0 0;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 2px 0;
  line-height: 1;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
@media (max-width: 768px) {
  #header {
    height: 50px;
  }
  #header #logo {
    margin: 10px 0 0 0;
  }
  #header #logo h1 {
    padding: 2px 0;
    font-size: 26px;
  }
  #header #logo img {
    max-height: 30px;
  }
}

#header .social-nav {
  margin-top: 15px;
}

#header .social-nav a {
  font-size: 24px;
  margin-left: 15px;
  color: #fff;
}

#header .social-nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

/* ==================================================
    New Modifications for the result page
  ================================================== */
.row img {
  width: 20%;
  margin: 100px 100px 20px 520px;
}
.container img {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("../static/img/bg_image_new.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  filter: blur(4px);
  z-index: -1;
}
.column {
  text-align: center;
  font-size: 30px;
  width: 40%;
  background-color: white;
  border-radius: 25px;
  margin: 10px 100px 70px 380px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.tagline {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 45px 0 75px 0;
  color: black;
}
.row-footer {
  background-color: white;
  color: black;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 200px;
}